.container-fluid{
   
    position: fixed;
    z-index: 1;

}
/*
.mainContent{
    margin-top: 3em;
}
*/
.navv{
    z-index: 2;
}
.main{
    background:url(src/assets/images/r.png);
	color: white;
    height: 98vh;
}