.banner {
	width: 100%;
	height: 89vh;
	background:url(src/assets/images/event-management.jpg);
	color: white;
	background-size: cover;
} 
.btn-round-yellow{
    background-color: yellow;
    margin-top: 5px;
    font-size: large;
    font-weight: bold;
}